---

- name: install extensions
  apt:
    deb: https://ftp.weheartwebsites.de/{{ ansible_distribution | lower }}/{{ ansible_distribution_release }}/php{{ php7fpm_majorminor_version }}/php{{ php7fpm_majorminor_version }}-{{ item }}_amd64.deb
  with_items:
    - libsodium_{{ php7fpm_ext_libsodium_version }}
    - apcu_{{ php7fpm_ext_apcu_version }}
    - imagick_{{ php7fpm_ext_imagick_version }}
    - igbinary_{{ php7fpm_ext_igbinary_version }}
    - redis_{{ php7fpm_ext_redis_version }}
    - iredis_{{ php7fpm_ext_iredis_version }}
    - memcached_{{ php7fpm_ext_memcached_version }}
  become: yes
  notify: restart_php7_fpm
